
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    max-width: 300px;
}

.footer-section h3 {
    color: #fff;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #93a8f4;
    text-decoration: none;
}