body{
    background-color: #A6E3E9;
}
.card-section{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

