{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block style %}{% static 'index.css' %}{% endblock style %}

{% block body%}
{% load static %}

<div class="container-fluid" style="height: 38rem;margin-top: 1rem; border-radius: 5px;">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/2000x750/?iphone," class="d-block w-100 " alt="..."
                    style="border-radius: 5px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Unleash Your Digital Journey.</h5>
                    <p>Experience the Carousel Advantage with Cutting-Edge Mobile Technology.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/2000x750/?oneplus," class="d-block w-100" alt="..."
                    style="border-radius: 5px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Infinite Connectivity, One Device</h5>
                    <p>Carousel Phones - Seamlessly Linking Your World, Your Way.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/2000x750/?samsung," class="d-block w-100" alt="..."
                    style="border-radius: 5px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Elevate Your Mobile Experience</h5>
                    <p>Carousel: Where Innovation Meets Intuition in Every Touch.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<section class="card-section">

    <div class="card-row">

        <!-- this id one plus phone card -->

        <div class="card" style="width: 18rem; margin: 2rem;"> <a href="https://www.oneplus.in/launch/11r-solar-red">
                <img src="{% static 'oneplus.webp' %}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <p class="card-text">OnePlus 11R 5G Solar Red is a work of art that seamlessly blends form and function.
                </p>
            </div>
        </div>

        <!-- this is samsung fold z  -->

        <div class="card" style="width: 18rem; margin: 2rem;">
            <a href="https://www.samsung.com/in/smartphones/galaxy-z-fold5/">
                <img src="{% static 'sam-fold.jpg' %}" class="card-img-top" alt="..." style="height: 10rem;"> </a>
            <div class="card-body">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <!-- this is iphone 15 -->

        <div class="card" style="width: 18rem; margin: 2rem;"><a href="https://www.apple.com/in/iphone-15/">
                <img src="{% static 'th.jpeg'%}" class="card-img-top" alt="..." style="height: 10rem;"></a>
            <div class="card-body">
                <p class="card-text">Unveiling the latest marvel in smartphone technology, the iPhone 15 .</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 2rem;"><a href="https://www.apple.com/in/iphone-15/">
                <img src="{% static 'cb-5.jpeg'%}" class="card-img-top" alt="..." style="height: 10rem;"></a>
            <div class="card-body">
                <p class="card-text">Samsung Fold: Unfolding Limitless Innovation in Compact Folding Smartphone Design.
                </p>
            </div>
        </div>
    </div>

    <div class="card-row">

        <!-- this id one plus phone card -->

        <div class="card" style="width: 18rem; margin: 2rem;"> <a href="https://www.oneplus.in/launch/11r-solar-red">
                <img src="https://source.unsplash.com/2000x850/?oneplus," class="card-img-top" alt="..." style="height: 10rem;"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.
                </p>
            </div>
        </div>

        <!-- this is samsung fold z  -->

        <div class="card" style="width: 18rem; margin: 2rem;">
            <a href="https://www.samsung.com/in/smartphones/galaxy-z-fold5/">
                <img src="https://source.unsplash.com/2000x750/?samsung," class="card-img-top" alt="..." style="height: 10rem;"> </a>
            <div class="card-body">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <!-- this is iphone 15 -->

        <div class="card" style="width: 18rem; margin: 2rem;"><a href="https://www.apple.com/in/iphone-15/">
                <img src="https://source.unsplash.com/2000x750/?iphone," class="card-img-top" alt="..." style="height: 10rem;"></a>
            <div class="card-body">
                <p class="card-text">Unveiling the latest marvel in smartphone technology, the iPhone 15 .</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 2rem;"><a href="https://www.apple.com/in/iphone-15/">
                <img src="https://source.unsplash.com/2000x750/?samsung," class="card-img-top" alt="..." style="height: 10rem;"></a>
            <div class="card-body">
                <p class="card-text">Samsung Fold: Unfolding Limitless Innovation in Compact Folding Smartphone Design.
                </p>
            </div>
        </div>
    </div>




</section>
{% endblock body%}